* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  height: 100vh;
  background: #0d0d0d;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

#chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.system {
  color: #777;
  font-style: italic;
}

.nick {
  color: #6cf;
}

input {
  border: none;
  outline: none;
  padding: 12px;
  background: #000;
  color: #fff;
  font-size: 14px;
}
